<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>
		
		
		
		

		<!-- Search -->
		<div ng-controller="MyCtrl">

		
			<input type="text" ng-model="id" />
			<p>Hello {{ id }}</p>

		

		</div>
		
		<div ng-controller="CtrlList">
			<form class="form-inline">
			  <input ng-model="query" type="text"
				placeholder="Filter by" autofocus>
			</form>
			<select name="pokemonList" id="pokemonList" ng-model="pokiList">
			<option ng-repeat="item in items | filter:query | orderBy: 'name' " value="{{item.entry_number}}">
			  {{item.entry_number}} - {{item.pokemon_species.name}}
			</option>
			</select>
			
			
			
			<pre>Valeur sélectionnée = <span>{{ pokiList }}</span></pre>
			<div>
                    <p id="p_loader" class="text-center">Patienter...</p>
              </div>
			  
			<button id="btn_go" ng-click="go()">get infos !</button>
			
			<div id="res_poki">
			<ul class="pokeInfoResultListItem list-group" ng-repeat="(key, val) in poke">
                        <li class="list-group-item list-group-item-info"><b>{{ key }}</b> : {{ val }}</li>
                    </ul>
			</div>
			
			
			
			
		</div>
		
		
		<!--<div ng-controller="selectedValue">
          
          <p>
          <select ng-model="selected_by_copy"
              ng-options="opt as opt.label for opt in options">
          </select>
          </p>
          <p>
          The value selected is {{ selected_by_copy.value }}.
          </p>
		  </div>
		
	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
